
Spectrum Analyzer.xcodeproj/project.xcworkspace/xcuserdata/wdillon.xcuserdatad/UserInterfaceState.xcuserstate

Spectrum Analyzer.xcodeproj/project.xcworkspace/xcuserdata/wdillon.xcuserdatad/WorkspaceSettings.xcsettings

Spectrum Analyzer.xcodeproj/xcuserdata/wdillon.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
